/* Navbar CSS: remove bullets and browser default settings */

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: teal;
}

/* Title and Overview */
.title {
  color: teal;
  font-size: 32px;
  border: 2px solid black;
  font-family: Helvetica;
}
